# User-specific stuff
.idea
*.iml
*.ipr
*.iws
out
.idea_modules

# eclipse
bin
*.launch
.settings
.settings/*
.metadata
.classpath
.project
build.properties

# gradle
build

# other
eclipse
run
classes
*.hprof

!gradle/wrapper/*
